
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: Arial, sans-serif;
 }
body { 
    background: #0f172a; 
    color: #e5e7eb; 
    line-height: 1.6; 
}
header { 
    padding: 60px 20px; 
    text-align: center; 
    background: linear-gradient(135deg, #0f172a); 
    color: #e5e7eb; 
}
nav { 
    background: #020617; 
    padding: 10px; 
    text-align: center;
     position: sticky; 
     top: 0; 
}
nav a { 
    color: #e5e7eb; 
    margin: 0 15px; 
    text-decoration: none; 
    font-weight: bold; 
}
nav a:hover { 
    color: #38bdf8; 
}
section { 
    padding: 60px 20px; 
    max-width: 1100px; 
    margin: auto; 
}
h2 { 
    color: #38bdf8; 
    margin-bottom: 20px; 
}
.skills, .frameworks, .tools, .platforms, .certifications, .projects { 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px; 
}
.card { 
    background: #020617; 
    padding: 20px; 
    border-radius: 10px; 
    transition: transform 0.3s; 
}
.card:hover { 
    transform: translateY(-8px);
}
form { 
    max-width: 500px; 
    margin: auto; 
}
input, textarea { 
    width: 100%; 
    padding: 10px; 
    margin-bottom: 15px; 
    border-radius: 5px; 
    border: none; 
}
button { 
    padding: 10px 20px; 
    background: #38bdf8; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-weight: bold; 
}
button:hover { 
    background: #0ea5e9; 
}
footer { 
    background: #020617; 
    text-align: center; 
    padding: 20px; 
}